@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item @(ViewBag.PageName == "Manage" ? "active" : "")">
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "nav-link", title = "Manage" })
            </li>

            <li class="nav-item">
                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()" id="logout">Log off</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link", id = "registerLink" })</li>
        <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link", id = "loginLink" })</li>
    </ul>
}

<script>
    $('#logout').on('click', function (evt) {
        evt.preventDefault();
        swal({
            title: "Are you sure you want to leave?",
            text: "",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#df4759",
            confirmButtonText: "Yes, I'm sure",
            closeOnConfirm: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $("#logoutForm").submit(); 
                } else {
                    evt.preventDefault();
                }
            });
    });
</script>
