@model GroupProject.ViewModel.CreditCardViewModel

@{
    ViewBag.Title = "Credit Card";
}
<style>
    .input-group {
        max-width: 350px;
    }
</style>
<h2>@ViewBag.Title</h2>

@if (ViewBag.NoOrders == true)
{
    <h4>Ooops. It seems your cart was empty... :(</h4>
    <p>@Html.ActionLink("Browse some more?", "Index", "Products")</p>
}
else
{
    using (Html.BeginForm("PaymentWithCreditCard", "Paypal"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Delivery Details</h4>
            <hr />
            @Html.ValidationSummary("Please fill in all the required fields.", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6" style="text-align:left;">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-credit-card"> Card No</i></span>
                        </div>
                        @Html.EditorFor(model => model.CardNumber, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <br />
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar-o"> Exp. Month</i></span>
                        </div>
                        @Html.EditorFor(model => model.ExMonth, new { htmlAttributes = new { @class = "form-control"} })
                    </div>
                    <br />
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar-times-o"> Exp. Year</i></span>
                        </div>
                        @Html.EditorFor(model => model.ExYear, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <br />
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-credit-card-alt"> Cvv</i></span>
                        </div>
                        @Html.EditorFor(model => model.CVV, new { htmlAttributes = new { @class = "form-control"} })
                    </div>
                    <br />
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-credit-card"> Card Type</i></span>
                        </div>
                        @Html.DropDownListFor(model => model.CardType, (IEnumerable<SelectListItem>)ViewBag.Cards, new { @class = "form-control"})
                    </div>
                    <br />
                </div>
                <div class="col-md-6" style="text-align:left">
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"> Firstname</i></span>
                        </div>
                        @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"> Lastname</i></span>
                        </div>
                        @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control"} })
                    </div>
                    <br />
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-address-book"> Address</i></span>
                        </div>
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <br />
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-map"> City</i></span>
                        </div>
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <br />
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-map-pin"> Postal c.</i></span>
                        </div>
                        @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <br />
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="image" src="https://agro-center24.gr/images/stories/paypal-logo.png" width="200" height="55" style="background-color:transparent" />
                    </div>
                </div>
            </div>
        </div>

    }
}
<br />

<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "ShoppingCart")'">
    Back to Cart
</button>
