@{
    ViewBag.Title = "Admin Panel";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="box-title">
            <b>@ViewBag.Title</b>
        </h3>
    </div>
</div>
<hr />
<div class="row">
    <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("IndexRole", "Admin")'">
        Role List
    </button>&nbsp;
    <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("UserList", "Admin")'">
        List Of Users
    </button>&nbsp;
    <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("RatingsList", "Admin")'">
        Ratings
    </button>&nbsp;
    <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Orders", "Manage")'">
        All Orders
    </button>&nbsp;&nbsp;
    @using (Html.BeginForm("NewsLetter", "Admin", FormMethod.Post))
    {
        <div class="input-group">
            @Html.DropDownList("selectedValue", new SelectList(ViewBag.Files), "NewsLetter Files", new { @class = "form-control", required = "required" })
            <div class="input-group-append">
                <input type="submit" value="Send" class="btn btn-warning" />
            </div>
        </div>
    }
</div>
<br />

<hr />

<div class="mychart">
    <img src="@Url.Action("ChartBar")" alt="Chart"/>
</div>

